# ---------------------------------------------------
# Entornos virtuales 
# ---------------------------------------------------
**/venv/
**/.venv/
**/env/

# ---------------------------------------------------
# Caché y archivos compilados de Python
# ---------------------------------------------------
__pycache__/
*.py[cod]
*$py.class

# ---------------------------------------------------
# Variables de entorno y secretos
# ---------------------------------------------------
.env
.env.*
*.pem

# ---------------------------------------------------
# Archivos autogenerados por el servidor MCP
# ---------------------------------------------------
modelos_generados/
*.log

# ---------------------------------------------------
# Archivos de configuración del Sistema Operativo
# ---------------------------------------------------
.DS_Store
Thumbs.db